* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: antiquewhite;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #213a37;
}

h1 {
  text-align: center;
  font-size: 3vw;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
hr {
  height: 2px;
  /* background: #ff4800; */
  border: 1px solid rgb(255, 38, 0);
  margin-bottom: 5rem;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

.box {
  width: 90%;
  max-width: 500px;
  margin: auto;
  background: #ff3300af;
  border-radius: 30px;
  padding: 2rem 0;
}
.box p {
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}
.counterApp {
  background: #000;
  max-width: 300px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
  flex-direction: row;
  row-gap: 2rem;
}

.messageBox {
  /* background: #000; */
  min-height: 50px;
  transition: all;
  transition-duration: 200ms;
  padding: 0.5rem 0;
}

.scale:hover {
  transition: all 200ms ease;
  transform: scale(1.2);
}

@media (max-width: 500px) {
  /* CSS rules yahan likho */
  .counterApp {
    flex-direction: column;
    width: 20%;
  }
  h1{
    font-size: 2vh;
  }
}
